{% extends 'inicio.html' %}

{% block titulo %}

<h1>Detalle de la Parada Nº {{ parada }}</h1>

{% endblock titulo %}

{% block principal %}

<div class="tarjeta-detalle-parada">
    <h3>{{ nombre }}</h3>
    {% if comentario is not none %}
        <p>{{ comentario }}</p>
    {% endif %}
    <p> 
        {% if barrio!="-" %}
            Barrio de {{ barrio }}, Distrito {{ distrito }} ({{ ciudad }})
        {% else %}
            {{ ciudad }}
        {% endif %}
    </p>
    <p>
        Lineas: {{ lineas }}
        <a href="/detalle_parada/{{ parada }}/tiempos" class="boton-tiempos-lineas">
            <img src="{{ url_for('static', filename='imagenes/tiempo.png') }}" alt="boton-tiempos" class="imagen-tiempos-lineas" width="8" height="8">
        </a>
    </p>

    <div class="contenedor-mapa-mundial">
        <iframe src="/visualizar_mapa_parada/{{ nombre_mapa }}"></iframe>
    </div>
    
</div>

<div class="contenedor-volver-favoritas">
    <a href="/paradas_favoritas" class="volver-favoritas-button">Volver</a>
</div>

{% endblock principal %}