{% extends 'inicio.html' %}

{% block titulo %}

<h1>Detalle de la Parada Nº {{ parada }}</h1>

{% endblock titulo %}

{% block principal %}

<div class="tarjeta-detalle-parada">
    <h3>{{ nombre }}</h3>
    {% if comentario is not none %}
        <p>{{ comentario }}</p>
    {% endif %}
    <p> 
        {% if barrio!="-" %}
            Barrio de {{ barrio }}, Distrito {{ distrito }} ({{ ciudad }})
        {% else %}
            {{ ciudad }}
        {% endif %}
    </p>
    <p>Lineas: {{ lineas }}</p>

    <div class="contenedor-mapa-mundial">
        <iframe src="/visualizar_mapa_parada/{{ nombre_mapa }}"></iframe>
    </div>
    
</div>

<div class="contenedor-volver-favoritas">
    <a href="/paradas_favoritas" class="volver-favoritas-button">Volver</a>
</div>

{% endblock principal %}