{% extends 'inicio.html' %}

{% block titulo %}

<h1>Paradas Favoritas</h1>

{% endblock titulo %}

{% block principal %}

{% if paradas %}

<div class="tarjetas-paradas">
    <div class="tarjetas-paradas-wrapper">

        {% for parada in paradas %}
            <div class="tarjeta-paradas" onclick="window.location.href='#'">
                <h3>Nº {{ parada[0] }}</h3>
                <p>{{ parada[1] }}</p>
                {% if parada[2] is not none %}
                	<p>{{ parada[2] }}</p>
                {% endif %}
                <p>Lineas: {{ parada[3] }}</p>
                <a href="/eliminar_parada_favorita/{{ parada[0] }}" class="eliminar-parada-favorita-button">Eliminar</a>
            </div>
        {% endfor %}

    </div>
</div>

{% else %}

<div class="no-paradas-favoritas">
    <p class="mensaje-no-paradas-favoritas">No hay paradas favoritas añadidas todavía...</p>
    <a href="/" class="nueva-parada-favorita-button">Volver</a>
</div>

{% endif %}

{% endblock principal %}