/*---------------------------------------------INICIO-------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf0f5;
}

.contenido-principal {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contenido-principal h1 {
    font-size: 50px;
    color: #3498db;
}

#toggle-navbar {
    float: right;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.navbar {
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #2980b9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #3498db;
}

.tarjetas-autobuses {
    max-height: calc(70vh - 100px);
    overflow-y: auto;
}

.tarjetas-autobuses::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-autobuses::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
}

.tarjetas-autobuses-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-autobus {
    width: 600px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.tarjeta-autobus h3{
    font-size: 30px;
}

.tarjeta-autobus p{
    font-size: 20px;
}

.tarjeta-autobus:hover {
    transform: scale(1.05);
}

.no-autobuses {
    text-align: center;
    margin-top: 20px;
}

.mensaje-no-autobuses {
    font-size: 18px;
    color: #333;
}

.nueva-linea-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nueva-linea-button:hover {
    background-color: #2980b9;
}

footer {
    margin-top: 5px;
    padding: 5px;
    background-color: #2e86c1;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1px;
}

/*---------------------------------------------ANADIR LINEA--------------------------------------------*/

.contenedor-form {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.titulo-form {
    font-size: 32px;
    color: #3498db;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-form {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.seleccion {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.seleccion-button {
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.seleccion-button:hover {
    background-color: #2980b9;
}

.no-lineas {
    text-align: center;
    margin-top: 20px;
}

.mensaje-no-lineas-titulo {
    font-size: 25px;
    color: #333;
}

.mensaje-no-lineas {
    font-size: 18px;
    color: #333;
}

.no-linea-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.no-linea-button:hover {
    background-color: #2980b9;
}

/*---------------------------------------------DETALLE LINEA-------------------------------------------*/

.tarjeta-detalle-autobus {
    text-align: center;
    margin: 30px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tarjeta-detalle-autobus h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.tarjeta-detalle-autobus p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.tarjeta-detalle-autobus a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tarjeta-detalle-autobus a:hover,
.tarjeta-detalle-autobus a:hover {
    background-color: #2980b9;
}

.contenedor-volver {
    text-align: center;
    margin-top: 20px;
}

.volver-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volver-button:hover {
    background-color: #2980b9;
}

/*---------------------------------------------ANADIR PARADA-------------------------------------------*/

.contenedor-form-paradas {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.titulo-form-paradas {
    font-size: 32px;
    color: #3498db;
    margin-bottom: 20px;
}

.form-paradas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-form-paradas {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.seleccion-paradas {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.seleccion-button-paradas {
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.seleccion-button-paradas:hover {
    background-color: #2980b9;
}

.contenedor-cancelar-parada {
    text-align: center;
    margin-top: 20px;
}

.cancelar-button-parada {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cancelar-button-parada:hover {
    background-color: #c0392b;
}

.no-paradas {
    text-align: center;
    margin-top: 20px;
}

.mensaje-no-paradas-titulo {
    font-size: 25px;
    color: #333;
}

.mensaje-no-paradas {
    font-size: 18px;
    color: #333;
}

.no-paradas-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.no-paradas-button:hover {
    background-color: #2980b9;
}

/*----------------------------------------PARADAS FAVORITAS---------------------------------------------*/

.tarjetas-paradas {
    max-height: calc(70vh - 100px);
    overflow-y: auto;
}

.tarjetas-paradas::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-paradas::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
}

.tarjetas-paradas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-paradas {
    width: 600px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.tarjeta-paradas h3{
    font-size: 30px;
}

.tarjeta-paradas p{
    font-size: 20px;
}

.tarjeta-paradas:hover {
    transform: scale(1.05);
}

.eliminar-parada-favorita-button {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-size: 14px;
}

.eliminar-parada-favorita-button:hover {
    background-color: #c0392b;
}

.no-paradas-favoritas {
    text-align: center;
    margin-top: 20px;
}

.mensaje-no-paradas-favoritas {
    font-size: 18px;
    color: #333;
}

.nueva-parada-favorita-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nueva-parada-favorita-button:hover {
    background-color: #2980b9;
}

/*----------------------------------------DETALLE PARADA---------------------------------------------*/

.tarjeta-detalle-parada {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tarjeta-detalle-parada h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.tarjeta-detalle-parada p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.boton-tiempos-lineas {
    margin-left: 10px;
    text-decoration: none;
}

.imagen-tiempos-lineas {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.boton-tiempos-lineas:hover img {
    transform: scale(1.2);
}

.contenedor-mapa-mundial {
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-mapa-mundial iframe {
    border: 2px solid #ccc;
    width: 1000px;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.contenedor-volver-favoritas {
    text-align: center;
    margin-top: 10px;
}

.volver-favoritas-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volver-favoritas-button:hover {
    background-color: #2980b9;
}

/*----------------------------------------DETALLE RECORRIDO---------------------------------------------*/

.tarjeta-detalle-recorrido {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contenedor-mapa-mundial-recorrido {
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-mapa-mundial-recorrido iframe {
    border: 2px solid #ccc;
    width: 1500px;
    height: 350px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.contenedor-volver-linea {
    text-align: center;
    margin-top: 10px;
}

.volver-linea-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volver-linea-button:hover {
    background-color: #2980b9;
}

/*----------------------------------------TIEMPOS PARADA---------------------------------------------*/

.tarjeta-detalle-tiempos {
    max-height: calc(65vh - 100px);
    overflow-y: auto;
    width: 750px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.tarjeta-detalle-tiempos::-webkit-scrollbar {
    width: 10px;
}

.tarjeta-detalle-tiempos::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
}

.tarjeta-detalle-tiempos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-tiempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.imagen-parada {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.tarjeta-tiempo p {
    margin: 5px 0;
    font-size: 18px;
    color: #fff;
    background-color: #888;
    padding: 10px 15px;
    border-radius: 8px;
}

.contenedor-botones-actualizar-volver {
    text-align: center;
    margin-top: 10px;
}

.refrescar-tiempos-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-right: 30px;
}

.refrescar-tiempos-button:hover {
    background-color: #2980b9;
}

.imagen-actualizar-parada {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.volver-parada-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volver-parada-button:hover {
    background-color: #2980b9;
}

/*----------------------------------------------LLEVAME----------------------------------------------------*/

.formulario-llevame {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

label {
    margin-right: 10px;
    font-size: 20px;
}

select, input[type="time"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select{
    width: 400px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/*------------------------------------------------RUTA-----------------------------------------------------*/

.ruta-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horas {
    display: flex;
    justify-content: space-between;
}

.horas p {
    margin: 0;
    font-size: 18px;
}

.tiempo-distancia {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tiempo-distancia p {
    margin: 0;
    font-size: 18px;
}

.contenedor-mapa-mundial-ruta {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px; 
}

.contenedor-mapa-mundial-ruta iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.horas p + p,
.tiempo-distancia p + p {
    margin-left: 20px;
}

.contenedor-volver-llevame {
    text-align: center;
    margin-top: 10px;
}

.volver-llevame-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volver-llevame-button:hover {
    background-color: #2980b9;
}